[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pytest = "*"
hypothesis = "*"
confluent-kafka = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
